{% extends 'base.html.twig' %}

{% block title %}Règles du jeu{% endblock %}

{% block body %}
<div class="page-content">
    <h2>Règles du jeu</h2>

    <p>TODO : Rédiger les règles</p>
</div>
{% endblock %}