{% extends 'base.html.twig' %}

{% block title %}Classement{% endblock %}

{% block body %}

<div class="page-content">
    <h2>Classement</h2>
    <table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom du capitaine</th>
            <th scope="col">Nombre de victoires</th>
            <th scope="col">Dernière fois en ligne</th>
        </tr>
    </thead>
    <tbody>
        {% for player in ranking %}
        <tr>
            <td scope="col" class="num">{{loop.index}}</td>
            <td scope="col"><a href="{{ path("profile", {id: player.id}) }}">{{player.pseudo}}</a></td>
            <td scope="col">{{player.count_victory}}</td>
            <td scope="col">Il y a [TODO]</td>
        </tr>
        {% endfor %}
    </tbody>
</div>
{% endblock %}
