body {
    display: flex;
    justify-content: center;
    height: 100vh;

    z-index: 0;
}
.card {
    margin-top: 10%;
}
body {
    color:black;
    background-color:white;
    background-image:url(/images/Galion.jpg);
    background-repeat:no-repeat;
    background-position:center center;
    background-attachment: fixed;
    background-size: cover;
    }

div#content {
    background-color: white;
}

.page-content {
    padding-top: 20%;
} 