nav {
    height:             150px;
    width:              100%;

    background-color: #c7d0d8;
    border-bottom: solid 5px #7b8084;
}

li {
    margin-left: 2%;
    margin-right: 2%;
}

.active {
    opacity: 0.3;
}

#welcome {
    text-align: left;
}

#boutons {
    text-align: right;
}

#menu {
    text-align: center;
}

/*** FOOTER ***/

footer {
    display: none;

    position: absolute;
    bottom: 0;

    width: 100%;
    background-color: #c7d0d8;
    text-align: center;

    height: 50px;
    padding : 1%;
}

footer span {
    vertical-align: middle;
}

footer span:first-of-type {
    float: left;
}

footer span:last-of-type {
    float: right;
}