

.profile_content h2 {
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    padding: 1%;
}

.profile_content h3 {
    text-indent: 2%;

    padding: 0.5%;
}

.profile_img { 
    width: 100px;
}

.stats {
    width: 33%;
    display: inline-block;
    text-align: center;
}

.stats span {
    width: 100%;
    font-size: xx-large;
    border-bottom: solid;
    padding-left: 2%;
    padding-right: 2%;

    width: 80%;
}

.stats p {
    padding-top: 0.5%;
    font-size: large;
}

#parties span {
    border-color: blue;
}

#victoires span{
    border-color: green;
}

#ratio span{
    border-color: gold;
}

.classement {
    border: solid 2px black;
    border-radius: 10px;

    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;

    padding: 0.5%;

    text-align: center;

    width: 40%;
}

.classement label {
    text-align: center;

    text-transform: uppercase;
    font-weight: bold;
}

.classement #classement-position::before {
    content: "👤 ";
}

.classement #position {
    text-align: center;

    font-size: 5em;
}

.classement p {
    text-align: left;
}

#classement_position a {
    vertical-align: bottom;

    bottom: 0;
}