/* CLASSEMENT */

.table tbody tr td {
    font-size: larger;
}

.first,.second,.third,.top-ten {
    font-weight: bold; 
}

.table tbody .first {
    background-color: gold;
}

.table tbody .first .pseudo {
    text-transform: uppercase;
}

.table tbody .first .num::before {
    content: "🏆 ";
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.table tbody .second {
    background-color: silver;
}

.table tbody .third {
    background-color: #cd7f32;
}

.table tbody #you::before {
    content: "👤 ";
}

/***************************************************************************************
********************************* Pagination *******************************************
****************************************************************************************/

.pagi{
    display: flex;
    justify-content: center;
}