{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

<div class="page-content">
    <h2>Vous êtes admin ✅</h1>
    <p>Bienvenue sur la page du pouvoir</p>
</div>
{% endblock %}
