{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
        <div class="page-content">
            <h2>Vous êtes admin ✅</h2>
            <p>Bienvenue sur la page du pouvoir</p>

            <a href="{{ path("admin_users") }}">
                <figure>
                    <img src="images/user.png" class="admin-actions">
                    <figcaption>Gerer les utilisateurs</figcaption>
                </figure>
            </a>
            <a href="">
                <figure>
                    <img src="images/battleship.png" class="admin-actions">
                    <figcaption>Historique des parties</figcaption>
                </figure>
            </a>

        </div>
    {% else %}
        <div class="page-content" style="text-align: center;">
            <img src="images/access-denied.png" id="access-denied">
            <h2>Vous n'avez pas accès à cette page</h2>
            <a href="{{ path("self_profile") }}">Retourner sur votre page</a>
        </div>
    {% endif %}

{% endblock %}
