{% extends 'base.html.twig' %}

{% block title %}Jouer{% endblock %}

{% block body %}

<div class="page-content">
    <h2>Bataille navale</h2>

    <div class="col">
        <a class="btn btn-outline-secondary btn-sm" href="{{path('start')}}">START</a>
        <p>TODO : Recherche d'adversaire quand combat PVP Opérationnel</p>    
    </div>


</div>
{% endblock %}
