{% extends 'base.html.twig' %}

{% block title %}Jouer{% endblock %}

{% block body %}

<div class="page-content">
    <div id="game-index">
        <h1>Bataille navale</h1>

        <div class="col">
            <a id="start-btn" class="btn btn-primary btn-xl" href="{{path('start')}}">START</a>

            <p>| <i>TODO : Ecran de sélection de sa flotte</i> |</p>
            
            <p>| <i>TODO : Recherche d'adversaire quand combat PVP Opérationnel</i> |</p>    
        </div>
    </div>

</div>
{% endblock %}
