{% extends 'base.html.twig' %}

{% block title %}Jouer{% endblock %}

{% block body %}

<div class="page-content">
    <div id="game-index">
        <h1>Bataille navale</h1>

        <div class="col">
            <a id="start-btn" class="btn btn-primary btn-xl" href="{{path('team')}}">Commencer <i>choisir votre flotte</i></a>

            <a id="start-btn" class="btn btn-primary btn-xl" href="{{path("start" , {data: 'random'})}}">START <i>flotte aléatoire</i></a>  
        </div>
    </div>

</div>
{% endblock %}
