<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Projet Browsergame{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/profile.css">
        <link rel="stylesheet" href="/css/ranking.css">
    </head>
    <body>
        {{ include('menu.html.twig') }}
        <div class="container-fluid" id="content">
            {% block body %}{% endblock %}
            {% block javascripts %}
            <script src="https://kit.fontawesome.com/5ae6b39f46.js" crossorigin="anonymous"></script>
            {% endblock %}
        </div>
    </body>
    {{ include('footer.html.twig') }}
</html>
