<footer  class="page-footer">
    <span>Bataille Navale</span>
    <div class="form-inline my-2 my-lg-0  " id="boutons">
        <a href="{{ path('mentions_legales') }}">Mentions légales</a>
    </div>
        <span>Hugo BILQUART & Mathieu CORNUT - 2019</span>
</footer>