{% extends 'base.html.twig' %}

{% block title %}Mentions Legales{% endblock %}

{% block body %}
<div class="page-content"> 
    <h1>Mentions Légales</h1>
        <p>Vous visitez le site Internet de, statut légal entité</p>
        <p>Adresse – téléphone –  SIRET</p>
        <p>Informations éditoriales</p>
        <p>Directeur de la publication : fonction, Prénom Nom,  Responsable éditorial : Prénom Nom</p>
        <p>Webmestre : Prénom Nom ou e-mail</p>
        <p>Hébergeur : Nom, adresse…</p>

            <p>Les mentions légales qui suivent s'appliquent à tout internaute visitant le site. Nous vous remercions d'en prendre connaissance attentivement avant tout accès aux pages contenues dans ce site.

            <p>entité XXX se réserve le droit de modifier le contenu des sites à tout moment et sans préavis et ne pourra être tenu responsable des conséquences de telles modifications. L'accès et l'utilisation de ce site est soumise aux conditions suivantes ainsi qu'aux dispositions légales en vigueur. En accédant au site, vous acceptez, sans limitation ni réserves, ces conditions. Droits d’auteur et copyright
            L'ensemble de ce site relève de la législation française et internationale sur le droit d'auteur et la propriété intellectuelle.</p>

            <p>Toutes les images, marques, logos, noms de domaine et information sous forme de texte ou d'image présents sur le site sont la propriété de entité XXX  ou font l'objet d'une autorisation d'utilisation. Toute utilisation par reproduction, modification, téléchargement, transmission ou autre procédé existant présent ou futur est soumise à autorisation écrite préalable (courrier, courriel, fax). Seules les copies à usage privé et non-commercial sont autorisées sous réserve du respect des trois conditions suivantes :</p>
            
            <p>gratuité de la diffusion ;</p>
            
            <p>respect de l'intégrité des documents reproduits : pas de modification ni altération d'aucune sorte ;</p>

            <p>ajout de façon claire et lisible de la source (url du document original en ligne sur le site) et de la mention suivante :  "© <entité XXX> - droits réservés".</p>

            <p>Pour tout autre demande sur support papier ou électronique contacter :</p>

            <p>Service xxx Adresse Tél : xxxx  - courriel : xxxx@yyy.fr</p>

            <h2>Protection des données à caractère personnel</h2>

            <p>§ spécial « portail ENT » ou services numériques aux étudiants et personnels</p>

            <p>Ce site constitue un traitement de données à caractère personnel au sens de la loi du 6 janvier 1978 modifiée (loi « informatique et libertés »). Il obéit donc aux différentes obligations de sécurité, confidentialité, conservation des données, destinataires, conformément à l’arrêté du 30 novembre 1995 relatif aux environnements numériques de travail. Les données de connexion à ce site sont consignées dans des journaux informatiques à des fins de gestion du fonctionnement, de statistiques d’utilisation ou de requêtes judiciaires.</p>
            
            <p>Conformément à la loi  dite « Informatique et Libertés », vous disposez d'un droit d'accès, de rectification ou de suppression des données qui vous concernent. Vous pouvez exercer vos droits en vous adressant au Correspondant informatique et libertés de votre établissement, en justifiant de votre identité. </p>
            
            <p>§ autres sites</p>

            <p>Toutes les informations personnelles collectées sont soumises à la loi du 6 janvier 1978 modifiée  dite « Informatique et libertés » et font l'objet d'une déclaration à la CNIL.</p>

            <p>Quand vous naviguez sur ce site, chaque clic sur un lien correspond à un ordre adressé au serveur du site. Ces requêtes sont transmises et conservées dans un journal de connexion appelé aussi "fichier de log".  Ces fichiers ne sont utilisés que pour assurer la bonne marche du système ou rechercher l’origine de tentatives de compromission du site, selon la législation en vigueur.</p>

            <p>Vous disposez d’un droit d’accès, de rectification et d’opposition aux données vous concernant que vous pouvez exercer en contactant :</p>
            <p>Service xxx Adresse Tél : xxxx  - courriel : xxxx@yyy.fr</p>

        <p> La liberté d’accès aux données à caractère personnels présentes sur ce site (annuaire) n’en confère pas une liberté de collecte ou d’exploitation de ces données.</p>
        
            <h3>Statistiques</h3>
            <p> § sites avec cookies </p>
            <p>Afin de mieux vous servir, nous mesurons le nombre de pages vues, le nombre de visites, ainsi que l’activité des visiteurs sur le site, et leur fréquence de retour.</p>
            
        <p> A cet effet, nous utilisons la technologie des “cookies”. Les cookies utilisés contiennent un identifiant unique, généré aléatoirement et la date de votre dernière venue. Vous pouvez refuser ces cookies ou les supprimer sans que cela ait une quelconque influence sur votre navigation dans le site. Vous pouvez vous opposer à l'enregistrement de cookies ou être prévenu avant d'accepter les cookies, en configurant votre ordinateur par l'intermédiaire des paramètres figurant au sein de votre logiciel de navigation.</p>
            
        <p> § sites avec Google Analytics</p> 
            
        <p> Ce site utilise Google Analytics, un service d'analyse de site internet fourni par Google Inc. (« Google »). Google Analytics utilise des cookies, qui sont des fichiers texte placés sur votre ordinateur, pour aider le site internet à analyser l'utilisation du site par ses utilisateurs. Les données générées par les cookies concernant votre utilisation du site (y compris votre adresse IP) seront transmises et stockées par Google sur des serveurs situés aux Etats-Unis. Google utilisera cette information dans le but d'évaluer votre utilisation du site, de compiler des rapports sur l'activité du site à destination de son éditeur et de fournir d'autres services relatifs à l'activité du site et à l'utilisation d'Internet. Google est susceptible de communiquer ces données à des tiers en cas d'obligation légale ou lorsque ces tiers traitent ces données pour le compte de Google, y compris notamment l'éditeur de ce site. Google ne recoupera pas votre adresse IP avec toute autre donnée détenue par Google. Vous pouvez désactiver l'utilisation de cookies en sélectionnant les paramètres appropriés de votre navigateur. Cependant, une telle désactivation pourrait empêcher l'utilisation de certaines fonctionnalités de ce site. En utilisant ce site internet, vous consentez expressément au traitement de vos données nominatives par Google dans les conditions et pour les finalités décrites ci-dessus.</p>
            
        <p> § sites avec statistiques uniquement sur les logs</p>
            
        <p> L'outil statistique de mesure de la fréquentation de ce site est basé sur la seule analyse des « logs » de connexions sur les serveurs de entité XXX.</p>
            
        <p> § Sites sans statistiques</p>
        
        <p> Aucune information personnelle n’est collectée à votre insu ; aucune information personnelle n'est cédée à des tiers ; aucune information personnelle n'est utilisée à des fins non prévues.</p>
        
            <p>Liens et création de liens</p>
        
        <p> Le site de l’entité XXX autorise la mise en place d’un lien hypertexte pointant vers son contenu sous réserve :
                -de ne pas utiliser d’éléments du Site à l’intérieur d’un autre site par le biais d’inclusions, de cadres, d’inlining ou de procédés similaires.
                -de ne pas utiliser la technique du lien profond dit « deep linking »pour pointer notamment vers des documents graphiques, multimédia ou animés (format jpeg, gif, etc.) ou tout autre document texte (format txt, doc, rtf, pdf, etc.), que ceux-ci soient téléchargeables ou non.</p>
            que la balise du lien mentionne « Entité XXX »,</p> 
            
        <p> Sont exclus de cette autorisation les sites diffusant des informations à caractère illicite, violent, polémique, pornographique, xénophobe ou pouvant porter atteinte à la sensibilité du plus grand nombre.</p>
            
        <p> Afin de faciliter l’accès à d’autres sites susceptibles d’apporter un complément d’information, l’Entité XXX a inséré dans son site un certain nombre de liens hypertexte. Néanmoins, sa responsabilité ne saurait être engagée au titre d’un site tiers auquel un usager aurait eu accès via notre site et présentant des contenus litigieux ou inexacts.</p>
            
        <h4>Crédits<h4>
        
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header text-center"><u>Hugo BILQUART</u> </div>
                <div class="card-body">
                    <p class="card-title"><u>Développeur Full Stack</u></p>
                <h5 class="card-text ">Responsable du corps de métier du site.</h5>
            </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header text-center"><u>Mathieu CORNUT</u></div>
                <div class="card-body">
                    <p class="card-title"><u>Développeur Full Stack</u></p>
                <h5 class="card-text font-size-3px">Responsable du Front sur le site.</h5>
            </div>
            </div>
        </div>
    </div>
</div>            


{% endblock %}
